<!DOCTYPE html>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <title>Kin</title>
        {{ content_for_header }}
        {{ 'base.css' | asset_url | stylesheet_tag }}
        {{ 'main.js' | asset_url | script_tag }}
    </head>
    <body>
        {% include 'header' %}
        {% include 'menu-drawer' %}
        {% include 'cart-drawer' %}
        {{ content_for_layout}}
    </body>
</html>