<div style="height: 300px;">
    {% for product in collections['automated-collection'].products limit: 3 %}
        <div class="example-atc" data-variant-id="{{ product.variants[0].id }}"> {{ product.title }} << click to add to cart for testing </div>
    {% endfor %}
</div>

